* {
  box-sizing: border-box !important;
  margin: 0;
  text-transform: capitalize !important;
}
::-webkit-scrollbar {
  width: 0;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background: #0d6efd;
}
.navbar {
  display: flex;
  padding: 8px;
  & .navbar-brand {
    height: 40px;
    @media (max-width: 992px) {
      order: 2;
    }
  }
  & .navbar-nav {
    width: 100%;
    position: relative;
    & .SearchButton {
      position: absolute;
      right: 0;
    }
  }
  & .cart-link {
    @media (max-width: 992px) {
      order: 3;
      left: 0px;
    }
    position: relative;
    right: -50px;
    & .icon {
      font-size: 22px;
    }
    & span {
      position: absolute;
      top: 0;
      right: -15px;
      background-color: royalblue;
      color: white;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  & .navbar-toggler {
    order: 1;
  }
}
.homePage {
  .mySwiper {
    height: 80vh;
    width: 100%;
    & .swiper-button-next,
    & .swiper-button-prev {
      color: #222 !important;
    }
    & .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      & .text {
        max-width: 70%;
        text-align: center;
      }
    }
  }
}
.categories-sections {
  display: grid;
  gap: 50px;
  margin: 50px auto;
  &.section {
    gap: 10px;
    margin: 25px auto 50px;
    & .MainTitle {
      text-align: center;
    }
  }
  & .MainTitle {
    margin: 0;
  }
  & .more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    & a:last-child {
      width: 35px;
      height: 100%;
    }
    & .icon {
      width: 100%;
      height: 100%;
    }
  }
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  & .card {
    overflow: hidden;
    height: 500px;
    display: grid;
    grid-template-rows: 200px 1fr;
    position: relative;
    & .count {
      color: white;
      background-color: #0d6efd;
      width: fit-content;
      height: 25px;
      border-bottom-right-radius: 10px;
      position: absolute;
      left: 0;
      top: 0;
      padding: 5px 10px;
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
    }
    & > * {
      overflow: hidden;
      height: 100%;
    }
    & img {
      object-fit: cover;
    }
    & .card-body {
      display: grid;
      grid-template-rows: auto 1fr auto;
      & .title-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .price {
          color: green;
          &.sale {
            display: flex;
            gap: 10px;
            align-items: center;
            direction: rtl;
            & span:first-child {
              color: gray;
              text-decoration: line-through;
            }
          }
        }
      }
      & .card-text {
        overflow: scroll;
      }
    }
    & .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
.empty {
  position: fixed;
  inset: 0;
  margin: auto;
  max-width: 90%;
  height: fit-content;
  text-align: center;
}
.more-details {
  background-color: #0000007b;
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  & .details-card {
    background-color: white;
    height: 80vh;
    width: 80vw;
    border-radius: 4px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 200px 1fr;
    }
    gap: 20px;
    padding: 10px;
    & .img-container {
      width: 100%;
      height: 100%;
      overflow: hidden;
      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
    }
    .card-body {
      display: grid;
      gap: 10px;
      padding: 20px;
      & .title-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .price {
          color: green;
        }
      }
      & .card-text {
        height: 240px;
        overflow: hidden scroll;
        @media (max-width: 768px) {
          height: 140px;
        }
      }
      & .moreImgs {
        overflow: hidden;
        max-width: 100%;
        height: 150px;
        & .swiper-wrapper {
          gap: 10px;
          justify-content: flex-start;
          & .swiper-slide {
            margin: 0;
            padding: 0;
            width: 100px !important;
            height: 100px !important;
            & img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              border-radius: 4px;
            }
          }
        }
      }
    }
    & .closeIcon {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 24px;
      color: #0d6efd;
      cursor: pointer;
      line-height: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      &::before {
        content: "";
        position: absolute;
        background-color: white;
        width: 80%;
        height: 80%;
        z-index: -1;
      }
    }
  }
}
.cart-actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.SearchBar {
  display: grid !important;
  grid-template-columns: 120px 1fr 120px;
  @media (max-width: 576px) {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  place-items: center;
  align-items: center;
  padding: 20px;
  height: fit-content;
  & .SearchInputs {
    display: flex;
    width: 80%;
    @media (max-width: 576px) {
      order: 3;
      width: 100%;
      grid-column-start: span 2;
    }
  }
  & .cart-link {
    @media (max-width: 576px) {
      order: 1;
    }
    position: relative;
    & .icon {
      font-size: 22px;
    }
    & span {
      position: absolute;
      top: 0;
      right: -15px;
      background-color: royalblue;
      color: white;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.BuyPage {
  padding: 20px 10px;
  display: grid !important;
  gap: 10px;
  & .VisaCard {
    display: grid;
    justify-content: center;
    & .buying-Cards {
      padding: 10px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      width: 800px;
      @media (max-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
      }
      @media (max-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
      }
      & .buyingCard {
        aspect-ratio: 1/1;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        border-radius: 5px;
        &:hover {
          box-shadow: 0px 0px 0px 1px #6064b6;
        }
        & img {
          width: 80px;
        }
      }
    }
    & .inputs {
      display: grid;
      gap: 10px;
      & * {
        width: 100%;
      }
      & input {
        outline: none;
        padding: 4px;
      }
      & span {
        display: flex;
        gap: 10px;
      }
      & input[type="button"] {
        background-color: black;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 4px;
        font-size: 16px;
      }
    }
  }
}
